.grid-main{
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    margin-top: 40px;
}
.grid-child{
    border: 2px solid whitesmoke;
    border-radius: 15px;
    cursor: pointer;

}
.grid-child:hover {
    background-color: whitesmoke;
    border: 2px solid #646cff;
    color: #242424;
}
.grid-child:active{
    background-color: #646cff;
    border: 2px solid #646cff;
    color: #242424;
}
.grid-child h4{
    font-family: Poppins;
    font-weight: 700;

}

.grid-child p{
    font-family: Poppins;
    font-weight: 500;
    font-size: 12px;
padding: 5px;
}