
#root {
  max-width: 1280px;
    height: 700px;
    max-height: 700px;
  margin: 0 auto;
  padding: 2rem;
     background: #f0f0f5;
}
 .app-main{
    display: flex;
    flex-direction: column;
    align-items: center;


 }
 .heading{
     font-family: 'Poppins', sans-serif;
 }
 .app-input{
   height: 20px;
     width: 200px;
     margin: 20px;
 }
 .app-image{
     width: 350px;
     max-width: 500px;
     margin-top:20px;

 }
